body{min-height: 100vh;;}


.mediaViewInfo {
	--web-view-name: 메인화면 – 14;
	--web-view-id: n__14;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n__14;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n__14 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(13,13,13,1);
	overflow: hidden;
	--web-view-name: 메인화면 – 14;
	--web-view-id: n__14;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
/* @keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


} */
#n_176 {
	fill: rgba(25,25,25,1);
}
.n_176 {
	position: absolute;
	overflow: visible;
	/* width: 360px; */
	width: 100%;
	height: 94px;
	left: 0px;
	top: 0px;
}
#n_12 {
	fill: rgba(147,251,255,1);
}
.n_12 {
	position: absolute;
	overflow: visible;
	/* width: 40px; */
	width: calc(100% - 320px);
	height: 40px;
	/* left: 160px; */
	/* top: 36px; */
	left: 44%;
	top:5% ;
}
#n_7642 {
	fill: rgba(255,255,255,1);
}
.n_7642 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 221px;
	top: 323.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7643 {
	fill: rgba(255,255,255,1);
}
.n_7643 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 69px;
	top: 323.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7657 {
	fill: rgba(68,74,73,1);
	stroke: rgba(147,251,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7657 {
	overflow: visible;
	position: absolute;
	width: 130px;
	/* width: calc(100% - 382px); */
	height: 138px;
	/* left: 191px;
	top: 120px; */
	left: 53%;
	top: 18%;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: ______3.html;
	cursor: pointer;
}
#n_7644 {
	fill: rgba(255,255,255,1);
}
.n_7644 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 221px;
	top: 163.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_254 {
	fill: rgba(68,74,73,1);
	stroke: rgba(147,251,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_254 {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 138px;
	/* left: 39px;
	top: 120px; */
	left: 11%;
	top: 18%;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: start.html;
	cursor: pointer;
}
#n_ {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.302));
	/* left: 71px;
	top: 207px; */
	left: 20%;
	top: 31%;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	/* text-align: left; */
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#n_7645 {
	fill: rgba(255,255,255,1);
}
.n_7645 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 69px;
	top: 163.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7660 {
	fill: rgba(68,74,73,1);
	stroke: rgba(147,251,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7660 {
	overflow: visible;
	position: absolute;
	width: 130px;
	height: 138px;
	/* left: 191px;
	top: 283px; */
	left: 53%;
	top: 42%;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: settingNew.html;
	cursor: pointer;
}
#n__jd {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.302));
	/* left: 213px;
	top: 370px; */
	left: 59%;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	/* text-align: left; */
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#n_7646 {
	fill: rgba(255,255,255,1);
}
.n_7646 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 221px;
	top: 326.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7659 {
	fill: rgba(68,74,73,1);
	stroke: rgba(147,251,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7659 {
	overflow: visible;
	position: absolute;
	width: 130px;
	height: 138px;
	/* left: 39px;
	top: 283px; */
	left: 11%;
	top: 42%;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: ______3.html;
	cursor: pointer;
}
#n_D_ {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.302));
	/* left: 67px;
	top: 370px; */
	left: 19%;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	/* text-align: left; */
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#n_7647 {
	fill: rgba(255,255,255,1);
}
.n_7647 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 11.32px;
	left: 69px;
	top: 326.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-settings {
	fill: rgba(213,212,212,1);
}
.Icon_ionic-ios-settings {
	overflow: visible;
	position: absolute;
	width: 60.5px;
	height: 60.5px;
	/* left: 225.5px;
	top: 302.25px; */
	left: 63%;
	top: 45%;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-map-signs {
	fill: rgba(252,207,107,1);
}
.Icon_awesome-map-signs {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60.001px;
	/* left: 74px;
	top: 139.5px; */
	left: 21%;
	top: 21%;
	transform: matrix(1,0,0,1,0,0);
}
#n_10606 {
	position: absolute;
	width: 68.417px;
	height: 57.254px;
	/* left: 221.792px;
	top: 135.214px; */
	left: 62%;
	top: 20%;
	overflow: visible;
}
#n__jl {
	fill: rgba(162,231,234,1);
}
.n__jl {
	overflow: visible;
	position: absolute;
	width: 68.417px;
	height: 56.254px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Text {
	left: 28.208px;
	top: 9.253px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(64,64,64,1);
	text-transform: lowercase;
}
#n__jn {
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.302));
	/* left: 203px;
	top: 207px; */
	left: 56%;
	top: 31%;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	/* text-align: left; */
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#n_10660 {
	position: absolute;
	width: 70px;
	height: 50px;
	/* left: 69px;
	top: 309.5px; */
	left: 19%;
	top: 46%;
	overflow: visible;
}
#Icon_awesome-road {
	fill: rgba(154,255,222,1);
}
.Icon_awesome-road {
	overflow: visible;
	position: absolute;
	width: 70px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-person {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-person {
	overflow: visible;
	position: absolute;
	width: 31.081px;
	height: 31.081px;
	left: 19.46px;
	top: 18.919px;
	transform: matrix(1,0,0,1,0,0);
}