body {min-height : 100vh;}

.mediaViewInfo {
	--web-view-name: 목적지도착, 즐찾있는경우;
	--web-view-id: n_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_ {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(13,13,13,1);
	overflow: hidden;
	--web-view-name: 목적지도착, 즐찾있는경우;
	--web-view-id: n_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
/* @keyframes  {


} */
#n__e {
	left: 47px;
	top: 228px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(243,243,252,1);
}
#n_16 {
	position: absolute;
	width: 320px;
	height: 75px;
	left: 20px;
	top: 570px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: _____________.html;
	cursor: pointer;
}
#n_7_e {
	fill: url(#n_7_e);
}
.n_7_e {
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 119.984px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(25,25,25,1);
}
#n__1__80 {
	position: absolute;
	width: 79.271px;
	height: 14.59px;
	left: 270.58px;
	top: 2.41px;
	overflow: visible;
}
#n_603 {
	position: absolute;
	width: 47.85px;
	height: 14.59px;
	left: 31.42px;
	top: 0px;
	overflow: visible;
}
#n_284 {
	opacity: 0.9;
	position: absolute;
	width: 34.362px;
	height: 14.59px;
	left: 13.489px;
	top: 0px;
	overflow: visible;
}
#n_156 {
	fill: transparent;
}
.n_156 {
	position: absolute;
	overflow: visible;
	width: 34.362px;
	height: 11.796px;
	left: 0px;
	top: 2.794px;
}
#n_230 {
	left: 3.511px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(112,112,112,1);
}
#sysbar_battery {
	position: absolute;
	width: 14px;
	height: 12px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_159 {
	fill: transparent;
}
.n_159 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 12px;
	left: 0px;
	top: 0px;
}
#n_80 {
	opacity: 0.9;
	fill: rgba(112,112,112,1);
}
.n_80 {
	overflow: visible;
	position: absolute;
	width: 7.731px;
	height: 10.321px;
	left: 3.583px;
	top: 0.794px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather-wifi {
	position: absolute;
	width: 13.421px;
	height: 9.516px;
	left: 0px;
	top: 1.537px;
	overflow: visible;
}
#n_2148 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2148 {
	overflow: visible;
	position: absolute;
	width: 11.011px;
	height: 4.029px;
	left: 2.647px;
	top: 3.172px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2149 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2149 {
	overflow: visible;
	position: absolute;
	width: 16.243px;
	height: 4.948px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2150 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2150 {
	overflow: visible;
	position: absolute;
	width: 7.887px;
	height: 3.171px;
	left: 4.144px;
	top: 6.345px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2151 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2151 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 2px;
	left: 6.71px;
	top: 9.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_615 {
	position: absolute;
	width: 9px;
	height: 8.973px;
	left: 17.92px;
	top: 1.004px;
	overflow: visible;
}
#n_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 2.858px;
	left: 0px;
	top: 8.115px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 10.974px;
	left: 9px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 5.433px;
	left: 3px;
	top: 5.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 8.398px;
	left: 6px;
	top: 2.574px;
	transform: matrix(1,0,0,1,0,0);
}
#n__fr {
	left: 104px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(243,243,252,1);
}
#Icon_awesome-map-signs {
	fill: rgba(247,205,84,1);
}
.Icon_awesome-map-signs {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 155px;
	top: 306px;
	transform: matrix(1,0,0,1,0,0);
}